@model IEnumerable<Inspinia_MVC5_SeedProject.Models.EntityBase>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>EntityBase</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Entities</h5>
                    <div class="btn-group" style="float:right;">
                        <button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Create New<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ip", "Create", "Ip", null, null)</li>
                            <li>@Html.ActionLink("Email", "Create", "Email", null, null)</li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DiscriminatorValue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.subscriberId)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiscriminatorValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.subscriberId)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", item.DiscriminatorValue, new { id = item.entityBaseId }, new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Edit", "Edit", item.DiscriminatorValue, new { id = item.entityBaseId }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("Delete", "Delete", item.DiscriminatorValue, new { id = item.entityBaseId }, new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
