@model Inspinia_MVC5_SeedProject.Models.PolicyEntityBaseViewModel
@using Inspinia_MVC5_SeedProject.App_LocalResources

@helper printEntity(int id)
{
    foreach (var item in Model.policy.entities)
    {
        if (item.id == id)
        {
            <input type="checkbox" name="policy.selectedObjects" checked="checked" value="@id">
            return;
        }
    }
    <input type="checkbox" name="policy.selectedObjects" value="@id">
}

@Html.HiddenFor(model => model.policy.id)
@Html.HiddenFor(model => model.policy.actionId)
@Html.HiddenFor(model => model.policy.isActive)
<input type="hidden" value="@Model.policy.activationDate" name="policy.activationDate" id="policy_activationDate">
@Html.HiddenFor(model => model.policy.subscriberId)

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <p id="info">
            @Resource.PolicyStepFollow
        </p>
        <div id="wizard">
            <h1>@Resource.PolicyStep1</h1>
            <div class="step-content">
                <div id="module_div" class="m-t-md">
                    <h3>
                        @Resource.PolicySelectModuleInfo
                    </h3>
                    <div class="radio">
                        <label>
                            <input type="radio" value="1" id="1" name="policy.moduleId" @(Model.policy.moduleId == 1 ? "checked" : "disabled")> @Resource.ModuleName1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="2" id="2" name="policy.moduleId" @(Model.policy.moduleId == 2 ? "checked" : "disabled")> @Resource.ModuleName2
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="3" id="3" name="policy.moduleId" @(Model.policy.moduleId == 3 ? "checked" : "disabled")> @Resource.ModuleName3
                        </label>
                    </div>
                </div>
            </div>

            <h1>@Resource.PolicyStep2</h1>
            <div class="step-content">
                <div id="ip_div" class="m-t-md">
                    <h3>
                        @Resource.PolicySelectIpInfo
                    </h3>

                    <div class="col-sm-6">
                        <p style='text-decoration: underline'>
                            @Resource.PolicySelectIpCol
                        </p>
                        @foreach (var item in Model.ipList)
                        {
                            <h5>
                                @printEntity(item.id)@item.ip
                            </h5>
                        }
                    </div>
                    <div class="col-sm-6">
                        <p style='text-decoration: underline'>
                            @Resource.PolicySelectIpRangeCol
                        </p>
                        @foreach (var item in Model.ipRangeList)
                        {
                            <h5>
                                @printEntity(item.id)@(item.ip + " / " + item.range)
                            </h5>
                        }
                    </div>
                </div>
                <div id="twitter_div" class="m-t-md">
                    <h3>
                        @Resource.PolicySelectTwitterInfo
                    </h3>

                    @foreach (var item in Model.twitterList)
                    {
                        @printEntity(item.id)@item.idStr
                    }

                </div>
                <div id="instagram_div" class="m-t-md">
                    <h3>
                        @Resource.PolicySelectInstagramInfo
                    </h3>
                    @foreach (var item in Model.instagramList)
                    {
                        @printEntity(item.id)@item.idStr
                    }
                </div>
            </div>

            <h1>@Resource.PolicyStep3</h1>
            <div class="step-content">
                <div id="schedule_div" class="m-t-md">
                    <h3>
                        @Resource.PolicyDefineScheduleInfo
                    </h3>
                    <div class="col-sm-6">
                        <div class="radio">
                            <label>
                                <input type="radio" value="1" id="1" name="policy.scheduleType" @(Model.policy.scheduleType == 1 ? "checked" : "true")> @Resource.PolicyScheduleMonthInfo
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="2" id="2" name="policy.scheduleType" @(Model.policy.scheduleType == 2 ? "checked" : "true")> @Resource.PolicyScheduleWeekInfo
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="3" id="3" name="policy.scheduleType" @(Model.policy.scheduleType == 3 ? "checked" : "true")> @Resource.PolicyScheduleDayInfo
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="4" id="4" name="policy.scheduleType" @(Model.policy.scheduleType == 4 ? "checked" : "true")> @Resource.PolicyScheduleHourInfo
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="5" id="5" name="policy.scheduleType" @(Model.policy.scheduleType == 5 ? "checked" : "true")> @Resource.PolicyScheduleMinuteInfo
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.policy.s_period, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.policy.s_period)
                                @Html.ValidationMessageFor(model => model.policy.s_period)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.policy.s_enableStartTime24Format, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.policy.s_enableStartTime24Format)
                                @Html.ValidationMessageFor(model => model.policy.s_enableStartTime24Format)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.policy.s_enableEndTime24Format, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.policy.s_enableEndTime24Format)
                                @Html.ValidationMessageFor(model => model.policy.s_enableEndTime24Format)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
</div>

